/* Ejercicio #1 */
img {
  width: 700px;
  cursor: pointer;
  /* transition: border red 2px; */
  border: 2px red;
}

/* Ejercicio #2 */

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}
.img-stiker {
  width: 200px;
  height: 200px;
}
.sticker input {
  width: 80px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.btn {
  margin: 20px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ejercicio #3 */
.parte3 {
  height: 200px;
  border: 1px solid black;
  width: 400px;
  padding: 30px;
}
h2 {
  text-align: center;
}
.container-select {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn {
  margin: 40px;
}
.selects {
  margin: 0;
  padding: 0;
}
.oculto {
  display: none;
}
